*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}


/*Navbar Section*/
ul{
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none; 
    text-align: center;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: #112C66;
}

ul li a:hover ul.dropdown{
    display: block;    
}

.login{
    width: 62px;
    border-radius: 25px;
    border: 1px solid #22438C;
}

.login a{
    text-decoration: none;
    color: #22438C;
}

.register{
    width: 68px;
    border-radius: 25px;
    border: 1px solid #fff;
    background: #22438C;
}

.register a{
    text-decoration: none;
    color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root{
    --primary: rgba(34, 68, 140, 0.671);
    --secondary: rgba(34, 67, 140, 0.671);
}

.header{
    height: 120px;
    background: #22438C;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 100px;
    position: sticky;
}

.user-op{
    padding-left: 90px;
}

.row-1{
    height: 100%;
    color: #fff;
    font-weight: bold;
}

.browse-btn{
    width: 180px;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 15px;
}

.row-2{
    height: 18pc;
    width: 560px;
    color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #22438C;
}

.hero-section{
    background-image: linear-gradient(180deg, var(--primary), var(--secondary)),
                         url('Assets/Images/AdobeStock_307134215_Preview.jpeg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    justify-content: center;
}
.section-container{
    display: flex;
    padding-top: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.formbox{
    padding-left: 10px;
}

.formbox h3{
    padding-top: 5px;
    font-size: 27px;
}

.formbox input{
    border: 1px solid #22438C;
    background: #fff;
    border-radius: 15px;
    font-size: 1em;
    color: #22438C;
    outline: none;
    width: 43%;
    height: 30px;
    margin-top: 15px;
    padding-right: 30px;
}

.formbox input::placeholder{
    color: rgba(34, 67, 140, 0.671);
    position: absolute;
    left: 30px;
}

.formbox .icon-1{
    position: absolute;
    padding-top: 22px;
    padding-left: 10px;
    line-height: 10px;
}

.formbox .icon-2{
    position: absolute;
    padding-left: 10px;
    padding-top: 22px;
    line-height: 10px;
}

.job-btn{
    width: 100%;
    border-radius: 15px;
    height: 30px;
    background: #112C66;
    margin-top: 15px;
    color: #fff;
    border: none;
}

.keywords{
    margin-top: 15px;
}

.keywords .search-btn{
    border-radius: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid #fff;
    background: #22438C;
    color: #fff;
}

.keywords .search-btn-1{
    border-radius: 15px;
    width: 110px;
    height: 30px;
    border: 1px solid #fff;
    background: #22438C;
    color: #fff;
}

.keywords .search-btn-2{
    border-radius: 15px;
    width: 140px;
    height: 30px;
    border: 1px solid #fff;
    background: #22438C;
    color: #fff;
}

/*Categories Section*/
.browse-categories{
    padding-top: 40px;
}

.category-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categories{
    margin-top: 10px;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #112C66;
    background: #22438C;
    color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 8.9px;
    margin-right: 8px;
    position: relative;
}

.icon{
    font-size: 14px;
}

.num{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background: skyblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: -15px;
    font-size: 9px;
    z-index: 999;
}

.job-header{
    padding-top: 40px;
    text-align: center;
}

.job-header p{
    padding-top: 10px;
    font-size: small;
    color: gray;
    margin-bottom: 40px;
}

.jobs{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.job-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.job-title{
    margin-left: 5px;
}

.job-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 7.5px;
}

.job-details{
    margin-left: 30px;
    text-align: right;
}


.job-buttons{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
    margin-left: 5rem;
}

.internship-btn{
    font-size: 7px;
    width: 3.5rem;
    height: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    background: #22438C;
    color: #fff;
}

.freelance-btn{
    font-size: 7px;
    width: 3.5rem;
    height: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    background: #f8f8f8;
    color: #22438C;
    font-weight: 500;
}

.apply-btn{
    width: 6rem;
    height: 2rem;
    font-size: 9.5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    color: #fff;
    background: #22438C;
    margin-bottom: 8px;
    margin-left: 6rem;
}

.job-container-even{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 10px 55px 5px rgba(137,173,255,0.4);
    width: 60%;
    align-self: center;
    height: 3.5rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.internship-btn-even{
    font-size: 7px;
    width: 3.5rem;
    height: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    background: #22438C;
    color: #fff;
}

.freelance-btn-even{
    font-size: 7px;
    width: 3.5rem;
    height: 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    background: #f8f8f8;
    color: #22438C;
    font-weight: 500;
}

.apply-btn-even{
    width: 6rem;
    height: 2rem;
    font-size: 9.5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    color: #fff;
    background: #22438C;
    margin-bottom: 8px;
    margin-left: 6rem;
}
.job-buttons-even{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5.75rem;
}

.latest{
    margin: 40px 40px 0 15rem;
}

.latest-job-header p{
    padding-top: 10px;
    color: gray;
    font-size: small;
    margin-bottom: 10px;
}

.latest-jobs{
    background-image: url('Assets/Images/AdobeStock_606462693_Preview.jpeg');
    width: 300px;
    height: 200px;
    background-size: cover !important;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 0 0 20px 20px;
}

.latest-jobs::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.latest-job-details{
    display: flex;
    justify-content: center;
    align-items: center;
}